<div class="flex flex-row">
  <div class="m-2 card w-96 bg-base-100 shadow-xl">
    <div class="card-body">
      <h2 class="card-title">Todo</h2>
      <p *ngIf="!edit; else editBlock">{{ todo.name }}</p>
      <ng-template #editBlock>
        <input
          id="name"
          type="text"
          [formControl]="name"
          placeholder="{{todo.name}}"
          class="m-1 input input-bordered w-full max-w-xs"
        />
      </ng-template>
      <div class="card-actions items-center justify-end">
        <button
          class="m-1 btn btn-outline"
          type="button"
          (click)="removeTodo()"
        >
          Remove
        </button>
        <button
          *ngIf="!edit; else save"
          class="m-1 btn btn-outline"
          type="button"
          (click)="toogleEdit()"
        >
          Edit
        </button>
        <ng-template #save
          ><button
            class="m-1 btn btn-outline"
            type="button"
            (click)="editTodo()"
          >
            Save
          </button></ng-template
        >

        <div class="form-control">
          <label class="label cursor-pointer">
            <span class="label-text m-1">Done</span>
            <input
              type="checkbox"
              class="checkbox checkbox-success"
              (click)="done()"
              [checked]="todo.done"
            />
          </label>
        </div>
      </div>
    </div>
  </div>
</div>
