<div class="grid place-items-center h-screen">
  <h1 class="text-3xl font-bold">Todo List</h1>
<div class="form-control w-full max-w-xs">

 <label for="name" class="label">
    <span class="label-text">Describe Todo</span>
</label>
<input id="name" type="text" [formControl]="name" class="m-1 input input-bordered w-full max-w-xs">
<button class="m-1 btn btn-outline" type="button" (click)="addTodo()" >Add</button>
<div class="flex flex-row" *ngFor="let todo of todos">
  <app-todo-item (todoDone)="complete($event)" (removeTodoEvent)="removeTodo($event)" [todo]="todo"></app-todo-item>
</div>

</div>
</div>
